@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cinza-grafite: #1b1b1b;
  --cinza-metalico: #5E5E5E;
  --branco: #F5F5F5;
  --laranja-impacto: #FF6B00;
  --laranja-energia: #FF8C42;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* cores */
  --color-cinza-grafite: var(--cinza-grafite);
  --color-cinza-metalico: var(--cinza-metalico);
  --color-branco: var(--branco);
  --color-laranja-impacto: var(--laranja-impacto);
  --color-laranja-energia: var(--laranja-energia);

  /* Fonts */
  --font-oswald: var(--font-oswald);
  --font-share-tech: var(--font-share-tech);
  --font-exo-2: var(--font-exo-2);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --breakpoint-sm: 425px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 1800px;
}

button{
    cursor: pointer;
}

.detalhes {
  scroll-behavior: smooth;
}

.p-paginator,
.p-component {
  background-color: var(--cinza-grafite) !important;
}

.p-paginator,
.p-component button {
  color: var(--branco) !important;
}

/* Preto Industrial	Fundo principal	#0D0D0D
Cinza Grafite	Cards / superfícies	#1A1A1A
Cinza Metálico	Bordas / detalhes	#5E5E5E
Branco Técnico	Textos principais	#F5F5F5
Laranja Impacto	Destaques / colisão	#FF6B00
Laranja Energia	Hover / efeitos	#FF8C42 */

.p-dialog-header{
  background-color: var(--cinza-grafite);
}

.bordaInterativa {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
}

/* BORDA GIRANDO */
.bordaInterativa::before {
    content: "";
    position: absolute;
    inset: -2px;

    background: conic-gradient(
        from var(--angulo-inicial, 0deg),
        transparent 0deg,
        transparent 270deg,
        rgba(255, 123, 0, 0.8) 320deg,
        rgba(255, 179, 71, 1) 360deg
    );

    animation: bordaRodando 8s linear infinite;
}

/* FUNDO + LUZ ANIMADA */
.bordaInterativa::after {
    content: "";
    position: absolute;
    inset: 4px;
    border-radius: 14px;
    z-index: 1;

    background:
        radial-gradient(
            circle at 0% 50%,
            rgba(255, 107, 0, 0.12) 0%,
            rgba(255, 107, 0, 0.05) 15%,
            transparent 35%
        ),
        linear-gradient(
            135deg,
            #1b1b1b,
            #202020,
            #1b1b1b
        );

    background-size:
        250% 250%,
        100% 100%;

    animation:
        luzMovendo 12s ease-in-out infinite,
        fundoRespirando 8s ease-in-out infinite;
}

.bordaInterativa > * {
    position: relative;
    z-index: 2;
}

.scroll {
  overflow-y: auto;
}

/* Chrome, Edge e Safari */
.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-track {
  background: #18181b;
}

.scroll::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 999px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #ea580c;
}

/* Firefox */
.scroll {
  scrollbar-width: thin;
  scrollbar-color: #f97316 #18181b;
}


@keyframes bordaRodando {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes luzMovendo {
    0% {
        background-position:
            0% 50%,
            center;
    }

    50% {
        background-position:
            100% 50%,
            center;
    }

    100% {
        background-position:
            0% 50%,
            center;
    }
}

@keyframes fundoRespirando {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.08);
    }

    100% {
        filter: brightness(1);
    }
}