@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cinza-grafite: #1A1A1A;
  --cinza-metalico: #5E5E5E;
  --branco: #F5F5F5;
  --laranja-impacto: #FF6B00;
  --laranja-energia: #FF8C42;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* cores */
  --color-cinza-grafite: var(--cinza-grafite);
  --color-cinza-metalico: var(--cinza-metalico);
  --color-branco: var(--branco);
  --color-laranja-impacto: var(--laranja-impacto);
  --color-laranja-energia: var(--laranja-energia);

  /* Fonts */
  --font-oswald: var(--font-oswald);
  --font-share-tech: var(--font-share-tech);
  --font-exo-2: var(--font-exo-2);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --breakpoint-sm: 425px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
}

.detalhes{
  scroll-behavior:smooth ;
}

.p-paginator,.p-component{
  background-color: var(--cinza-grafite)!important;
}
.p-paginator,.p-component button{
  color: var(--branco)!important;
}

/* Preto Industrial	Fundo principal	#0D0D0D
Cinza Grafite	Cards / superfícies	#1A1A1A
Cinza Metálico	Bordas / detalhes	#5E5E5E
Branco Técnico	Textos principais	#F5F5F5
Laranja Impacto	Destaques / colisão	#FF6B00
Laranja Energia	Hover / efeitos	#FF8C42 */